@font-face {
    font-family: 'myriad-set-pro-thin';
    src: url(../../fonts/myriad-set-pro_thin.ttf);
}
@font-face {
    font-family: 'myriad-set-pro_text';
    src: url(../../fonts/myriad-set-pro_text.ttf);
}
.navbar{

    label{
        font-family: 'myriad-set-pro_text';
        font-size: 15px;
        color: #bbbbbb;
        padding: 0;
        margin: 0;
    }
    input{
        width:100%;
        float: left;
        width:100%;
        padding: 10px;
        border-radius: 5px;
        border:1px solid #ccc;
        height: 40px;
        font-family: 'myriad-set-pro_text';
        font-size: 18px;
        color: #b7b7b7;

    }

    .search{
        position: absolute;
        width: 42px;
        height: 40px;
        padding: 14px;
        background: #d6d6d6;
        right: 0;
        top: 21px;
        border-radius: 0 5px 5px 0;
        color: #fff;
        cursor: pointer;
    }

}

.requistion-data{
    span{
       color:#b7b7b7;
        font-size: 12px;
        font-family: 'myriad-set-pro_text';
        float: right;
        &:first-child{
            font-size: 16px;
            float: left;
        }

    }
}
table{
    position: relative;
    margin: 0;
    thead{
        background:#e7e7e7;
        tr{
            th {
                cursor: pointer;
                padding: 17px 0;
                font-family: 'myriad-set-pro_text';
               font-size:17px;
               font-weight: 400;
               color:#333;
                &:first-child{
                    width: 80px;
                }
            }
        }
    }

    tbody{
       
        tr{
            td {
                cursor: pointer;
                padding: 17px 0;
                font-family: 'myriad-set-pro_text';
                font-size:15px;
                font-weight: 400;
                color:#6d6d6d;
                    &:first-child{
                        width: 80px;
                    }
                    &:nth-child(2){
                       color:#479dd6;
                    }
                    &.td-checkbox{
                        position: relative;
                     
                        .c-chekbox{                           
                                position: absolute;
                                top: 14px;
                                left: 13px;  
                                height: 15px;
                                width: 15px;
                                border:1px solid  #c9c9c9;
                                border-radius: 2px;
                                margin-top:7px;
                            &:after {
                                content: "";    
                                position: absolute;
                                 display: none;   
                                left: 4px;
                                top: 0px;
                                width: 5px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                                  
                            }
                         
                        }
                        input{
                            opacity: 0;
                            &:checked{  
                                ~ .c-chekbox {
                                    background-color: #2196F3;
                                }
                                ~ .c-chekbox:after{
                                    display: block;
                                }
                            }
                        }
                        
                    }
            }
        }
    }
    
 
}

.pagination-div{
    height: 100px;
    text-align: center;
    .pagination{
        margin: 33px 0;
        li{
            a{
                border: 0;
                color: #ccc;
                border:1px solid transparent; 
            }
            &.active{
                a{
                    background: none;
                    border:1px solid #ccc;
                    border-radius: 5px;
                }
            }
        }
    }
  }