<div class="col-xs-12">
  <div class="row">
  <nav class="navbar" *ngIf="customTableOptions.enableFilter">
    <label>Search for keywords</label>
    <input class="form-control" type="text" (input)="onTableSearch()" name="search" placeholder="Search by Requisition Name, Requisition Id, Recruiter, Hiring Manager"
      [(ngModel)]="customTableOptions.filterString">
    <span class="glyphicon glyphicon-search search"></span>
  </nav>

  <div class="requistion-data">
    <span>{{customTableOptions.selectedRows.length}} Requistion Selected</span>
    <span> {{count}} Of {{customTableOptions.filteredData.length}} Results </span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th (click)="sort(column.name)" *ngFor="let column of customTableOptions.columnDefs">
          {{column.value}}
          <span class="glyphicon sort-icon" *ngIf="customTableOptions.sortWith == column.name"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pageItems | sortBy : customTableOptions.sortWith: customTableOptions.sortDirection; let i = index">
        <td class="td-checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="row.checked" (change)="onSelectRow($event,row)">
            <span class="c-chekbox"></span>
          </label>
        </td>
        <td *ngFor="let column of customTableOptions.columnDefs">{{row[column.name]}}</td>
      </tr>
    </tbody>

  </table>
  <div class="pagination-div">
    <ul class="pagination">
      <!-- <li [ngClass]="{disabled:this.currentPage === 1}">
        <a (click)="onChangePagination(1)"></a>
      </li> -->
      <li [ngClass]="{disabled:this.currentPage === 1}">
        <a (click)="onChangePagination(currentPage - 1)">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
      </li>
      <li *ngFor="let page of pagesArray" [ngClass]="{active:this.currentPage === page}">
        <a (click)="onChangePagination(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:this.currentPage === this.pages}">
        <a (click)="onChangePagination(currentPage + 1)">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
      <!-- <li [ngClass]="{disabled:this.currentPage === this.pages}">
        <a (click)="onChangePagination(pages)"></a>
      </li> -->
    </ul>
  </div>
  </div>
</div>